<form [formGroup]="userForm" (ngSubmit)="onSubmit()">
    <div class="login">
        <h2>Login</h2>
        <div class="form-group my-3" required>
            <label for="exampleInputEmail1">Email address</label>
            <input type="email" class="form-control" id="exampleInputEmail1" formControlName="email"
                aria-describedby="emailHelp" placeholder="example@gmail.com">
        </div>
        <div class="form-group my-3" required>
            <label for="exampleInputPassword1">Password</label>
            <input type="password" class="form-control" id="exampleInputPassword1" formControlName="password"
                placeholder="Password">
        </div>
        <button type="submit" class="btn btn-primary">Login</button>
        <p>Don't have an account? <a routerLink="/signup">Sign Up</a></p>
        <p *ngIf="isNotValid" class="text-danger">Invalid credentials. Please try again.</p>
    </div>
</form>