form {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80vh;
}

.forum-update-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;
    width: 50vb;
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 10px;
}

.btn-group {
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin-top: 10px;
}

.form-group {
    width: 80%;
}