body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: smaller;
}

/** NAVBAR **/

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f0f0f0;
  color: black;
  padding: 10px;
}

.nav-left-side {
  font-size: 22px;
  font-weight: 600;
}

.nav-right-side {
  background-color: #0f63fc;
  padding: 10px;
  border-radius: 5px;
  display: none;
  color: white;
}

/** LOGIN **/
.login {
  display: flex;
  flex-direction: column;
}

.login-input {
  margin: 10px 10% 0 10%;
  padding: 8px;
  border-radius: 5px;
  border: 1px solid black;
}

.login-submit {
  background-color: #0f63fc;
  color: white;
  width: 7%;
  padding: 8px;
  border: none;
  cursor: pointer;
}

.login-submit:hover {
  background-color: #0c43d2;
}

/** MAIN WINDOW **/
.content-window {
  padding: 10px 0 0 0;
}

.theme-content {
  display: flex;
  padding: 5px;
  justify-content: flex-start;
  gap: 10px;
  flex-wrap: wrap;
  margin-top: 10px;
}

.theme-set {
  display: inline-flex;
  border-radius: 5px;
  overflow: hidden;
  max-width: fit-content;
  border: 1px solid #d2d6dc;
}

.color-content {
  display: flex;
  align-items: stretch;
}

.left-theme-content {
  background-color: #f0f0f0;
  padding: 5px 10px;
  font-weight: 500;
  display: flex;
  align-items: center;
  align-self: stretch;
  margin: 0;
  border-right: 1px solid #d2d6dc;
}

.right-theme-content {
  display: flex;
  align-items: center;

}

#color {
  border: none;
  background-color: white;
  padding: 5px 15px;
}

input[type="color"]::-webkit-color-swatch-wrapper {
  padding: 0;
}

select {
  border: none;
  background-color: white;
  padding: 5px 10px;
}

.create-button {
  background-color: #0071ff;
  color: white;
  padding: 7px 10px;
  border-radius: 5px;
  cursor: pointer;
  align-items: center;
  align-self: stretch;
}

.main-content {
  display: none;
}

/** GAME TABLE **/
table {
  border-collapse: collapse;
  width: 100%;
  margin-top: 10px;
}

tr:first-child {
  background-color: #f0f0f0;
}

tr {
  border: 1px solid #d2d6dc;
}

td, th {
  padding: 8px;
  text-align: left;
}

/** GAME BOARD **/
.game-board-content {
  width: 100vb;
  margin: 0 auto;
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2%;
  box-sizing: border-box;
}

.return-button {
  width: 100%;
  padding: 1% 0;
  background-color: #0071ff;
  color: white;
  text-align: center;
  cursor: pointer;
  border-radius: 5px;
  margin-bottom: 2%;
}

.return-button:hover {
  background-color: #025cca;
}

.game-board {
  width: 85%;
  display: flex;
  flex-direction: column;
  background-color: #ff394a;
  border-radius: 0 0 10px 10px;
  padding: 1%;
  box-sizing: border-box;
}

.game-board-row {
  display: flex;
  justify-content: space-around;
  width: 100%;
  margin-bottom: 2%;
}

.game-board-first-row {
  border-radius: 10px 10px 0 0;
  border-top: 1px solid #d2d6dc;
  border-left: 1px solid #d2d6dc;
  border-right: 1px solid #d2d6dc;
  box-sizing: border-box;
  display: flex;
  justify-content: space-around;
  position: sticky;
  padding: 0.5% 1%;
  width: 85%;
}

.game-board-cell {
  width: 12%;
  aspect-ratio: 1;
  background-color: #fff;
  border-radius: 50%;
  border: 1px solid black;
  margin: 0 0.5%;
  position: relative;
}

.game-board-first-row .game-board-cell {
  background-color: transparent;
  box-shadow: none;
  cursor: pointer;
  border: 1px solid transparent;
}

.game-board-first-row .game-board-cell:hover {
  border: 1px solid black;
  background-image: none;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.game-state {
  width: 100%;
  padding: 3%;
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  border-radius: 5px;
}

@media (max-width: 768px) {
  .game-board-content {
    width: 95%;
  }
  
  .game-board-cell {
    width: 13%;
    margin: 0 2px;
  }
}

/** EXTRA CLASSES **/
.finished {
  background-color: #f0f0f0;
}

.token {
  width: 40px;
  height: 40px;
  aspect-ratio: 1;
  border-radius: 50%;
  border: 1px solid black;
  margin: 0 5px;
  position: relative;
  box-shadow: none;

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.view-button {
  max-width: 28px;
  padding: 7px 10px;
  border-radius: 5px;
  display: flex;
  cursor: pointer;
  align-items: center;
  align-self: stretch;
}

.view-button:hover {
  filter: brightness(0.9);
}

.game-token {
  width: 100%;
  height: 100%;
  aspect-ratio: 1;
  margin: 0;
}

.ending-screen {
  width: 85%;
  height: 85%;
  background-size: 100% 100%;
  background-position: center;
  background-repeat: no-repeat;
}