<div *ngIf = "loading" class="text-center loading"> 
  <img src="assets/bulbasaur-run.gif" alt="Bulbasaur running gif">
</div>

<div class="set-container" *ngIf="!loading">
  <h2 class="my-4 text-center">Sets</h2>
  <div *ngFor="let group of groupedSets">
    <h3>{{ group.series }}</h3>
    <div class="card-container">
      <div *ngFor="let set of group.sets" class="card" [routerLink]="['/sets', set.id]">
        <img class="card-img-top" [src]="set.images.logo" alt="Set image">
        <div class="card-body">
          <p class="card-text">{{ set.name }}</p>
        </div>
      </div>
    </div>
  </div>
</div>


