body {
  background-color: #4a4b5a;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: black;
  color: #fff;
  padding: 10px;
}

.nav-left-side {
  font-size: 22px;
  font-weight: 600;
}

.nav-right-side {
  background-color: #0f63fc;
  padding: 10px;
  border-radius: 5px;
  display: none;
}

.content-window {
  padding: 10px 0 0 0;
}

.login {
  display: grid;
}

.login-input {
  margin: 10px 10% 0 10%;
  padding: 8px;
  border-radius: 5px;
  border: 1px solid black;
}

.login-submit {
  background-color: #0f63fc;
  color: white;
  width: 7%;
  padding: 8px;
  border: none;
  cursor: pointer;
}

.login-submit:hover,
.selections-submit:hover,
.nav-right-side:hover {
  background-color: #0c53d2;
}

.main-selections {
  padding: 10px 10%;
  display: flex;
  align-items: center; /* Align items vertically */
  gap: 100px;
}

.main-selections-left,
.main-selections-right {
  display: flex;
  gap: 20px; /* Adjusts spacing between text input and button */
}

.selections-input {
  border-radius: 5px;
  padding: 8px;
}

.selections-submit {
  background-color: #0f63fc;
  color: white;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  padding: 10px;
}

.main-card-content {
  padding: 20px 10%;
  display: flex;
  gap: 20px;
}

.main-card-content-left {
  background-color: #2c2c2c;
  width: 40%;
  padding: 12px;
  border-radius: 5px;
  max-height: 80vh;
  overflow-y: auto;
  white-space: nowrap;
  scroll-behavior: smooth;

  &::-webkit-scrollbar {
    display: none;
    height: 8px;
  }

  &:hover::-webkit-scrollbar {
    display: block;
  }

  &::-webkit-scrollbar-track {
    border-radius: 10px; /* Rounded edges */
    background: transparent;
  }

  &::-webkit-scrollbar-thumb {
    background: #8e8e8e; /* Scrollbar color */
    border-radius: 10px; /* Rounded scrollbar */
  }

  &::-webkit-scrollbar-thumb:hover {
    background: #555; /* Darker color when hovered */
  } 
}

.main-card-content-left-inner {
  background-color: white;
  padding: 10px;
  border-bottom: 1px solid grey;
  white-space: wrap;

  &:hover {
    background-color: #0f63fc;
    color: white;
  }

  &:first-child {
    border-radius: 5px 5px 0 0;
    border-bottom: 1px solid grey;
  }

  &:last-child {
    border-radius: 0 0 5px 5px;
    border: none;
  }
}

.main-card-content-right {
  height: 40vh;
}

.tag {
  float: right;
  padding: 2px 7px;
  border-radius: 5px;
  color: white;
  align-items: center;
  justify-content: center;
  font-size: 12px;
}

.pokemon-tag {
  background-color: #d62e3c;
}

.magic-tag {
  background-color: #187c4a;
}

.loading {
  height: 20vh;
  width: 20vh;
}

.loading-overlay {
  position: fixed; /* Cover the entire screen */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(255, 255, 255, 0.2);
  justify-content: center;
  align-items: center;
  z-index: 1000; /* Ensure it stays above everything */
  display: none;
}

.main-content {
  display: none;
}

.noCards {
  justify-content: center;
  align-items: center;
  background-color: rgb(197, 26, 26);
  color: white;
  padding: 10px;
  border-radius: 5px;
}

